:root {
    text-align: center;
}

h1, h2, h3{
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 2rem;
    color: #333;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.taskItem {
    margin-bottom: 1rem;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    color: #555;}

.deleteBtn {
    margin-left: 1rem;
    background-color: #f40505;
    color: white;
    border: none;
    padding: 0.3rem 0.6rem;
    cursor: pointer;
}   